<div class="retro-style container mt-4">
  <h2>{{ task ? 'Editar Tarefa' : 'Nova Tarefa' }}</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onAddTask()">
    <div class="form-group">
      <label for="title" class="retro-label">Título</label>
      <input type="text" class="retro-input" id="title" formControlName="title" placeholder="Título da Tarefa">
    </div>

    <div class="form-group">
      <label for="description" class="retro-label">Descrição</label>
      <textarea class="retro-input" id="description" formControlName="description" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="status" class="retro-label">Status</label>
      <select class="retro-input" id="status" formControlName="status">
        <option *ngFor="let status of taskStatuses" [value]="status">{{status}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="priority" class="retro-label">Prioridade</label>
      <input type="number" class="retro-input" id="priority" formControlName="priority">
    </div>

    <div class="form-group">
      <label for="dueDate" class="retro-label">Data de Vencimento</label>
      <input type="date" class="form-control retro-date" id="dueDate" formControlName="dueDate">
    </div>

    <button type="submit" class="retro-button">{{ task ? 'Atualizar' : 'Criar' }}</button>
  </form>
</div>
