/* app.component.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive; /* Fonte estilo retro para toda a aplicação */
    background-color: #000000; /* Cor de fundo padrão para toda a aplicação */
    color: #ffffff; /* Cor padrão do texto */
  }
  

  